<link rel="stylesheet" href="/media/common.css">
<link rel="stylesheet" href="/media/create.css">
<script src="/media/jquery-1.4.1.min.js"></script>
<script src="/media/jquery.emptytext.js"></script>
<script src="/media/common.js"></script>
<script>

$(document).ready(function() {
  addStep();
  $('.expected-input').emptyText('what should happen? (optional)');
});

function addStep() {
  var num = $("#step-boxes").children().length + 1;
  $("#step-boxes").append("<div><span class='step-number'>" + num + ". </span>"
      + "<textarea class='step-input'></textarea>"
      + "<textarea class='expected-input'></textarea></div>");
  $("textarea.expected-input").emptyText('');
  $("#step-boxes>div:last-of-type textarea.expected-input").emptyText('what should happen? (optional)');
  $("#step-boxes>div:last-of-type textarea.step-input").focus();
}

function validate() {
}

function submitTest() {
  var steps = $.map($(".step-input"), function(i, input) { return $(input).val();});
  var expected = $.map($(".expected-input"), function(i, input) { return $(input).val();});
  var tc = {
    title : $("#title-input").val(),
    steps : steps,
    expected_results: expected,
    product : $("#product").val(),
    collections : $("#collections").val(),
    tags : $("#tags").val()
  }
  $.post(API + "/testcase", JSON.stringify(tc), function(data) {alert(JSON.stringify(data));}, "json");
}

</script>

<div id="container">
<h1 id="create-heading">Create Testcase</h1>
<table>
  <tbody>
    <tr>
      <td>Title</td>
      <td><input id="title-input" type="text"></td>
    </tr>
    <tr id="steps-row">
      <td id="steps">Steps</td>
      <td id="step-boxes">
      </td>
      <td id="add-step">
        <input type="button" value="+" onclick="addStep()"></input>
      </td>
    </tr>
    <tr>
      <td>Product</td>
      <td><select id="product"><option>Firefox</option><option>Thunderbird</option></select></td>
    </tr>
    <tr class="hidden">
      <td>Platform</td>
      <td>
        <select id="platform" type="text">
           {% for row in product.rows %}
             <option value="{{ row.value.id }}">{{ row.value.name }}</option>
           {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Collections</td>
      <td><input id="collections" type="text"></td>
    </tr>
    <tr>
      <td>Tags</td>
      <td><input id="tags" type="text"></td>
    </tr>
    <tr>
      <td></td>
      <td><button id="submit" onclick="submitTest()">Create</button></td>
    </tr>
  </tbody>
</table>
</div>
